/* See http://bettermotherfuckingwebsite.com/ */
body {
  margin: 40px
  auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0
  10px
}

img#depiction {
  width: 100px;
  height: 100px;
  padding: 5px;
  float: left;
}

h1, h2, h3 {
  line-height: 1.2
}
